<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增商户订单状态统计')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-status-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">总订单数：</label>
                <div class="col-sm-8">
                    <input name="totalOrderCount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">超时订单数：</label>
                <div class="col-sm-8">
                    <input name="orderTimeout" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单总金额：</label>
                <div class="col-sm-8">
                    <input name="orderAmount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">超时订单总金额：</label>
                <div class="col-sm-8">
                    <input name="orderTimeoutAmount" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/status"
        $("#form-status-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-status-add').serialize());
            }
        }
    </script>
</body>
</html>