<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sh.mapper.ShAdjustAmountMapper">
    
    <resultMap type="ShAdjustAmount" id="ShAdjustAmountResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="serverId"    column="server_id"    />
        <result property="type"    column="type"    />
        <result property="amount"    column="amount"    />
        <result property="approve"    column="approve"    />
        <result property="applyer"    column="applyer"    />
        <result property="approver"    column="approver"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="approveTime"    column="approve_time"    />
    </resultMap>

    <sql id="selectShAdjustAmountVo">
        select id, order_id, server_id, type, amount, approve, applyer, approver, apply_time, approve_time from sh_adjust_amount
    </sql>

    <select id="selectShAdjustAmountList" parameterType="ShAdjustAmount" resultMap="ShAdjustAmountResult">
        <include refid="selectShAdjustAmountVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="serverId != null "> and server_id = #{serverId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="approve != null "> and approve = #{approve}</if>
            <if test="applyer != null  and applyer != ''"> and applyer = #{applyer}</if>
            <if test="approver != null  and approver != ''"> and approver = #{approver}</if>
            <if test="applyTime != null "> and apply_time = #{applyTime}</if>
            <if test="approveTime != null "> and approve_time = #{approveTime}</if>
        </where>
    </select>
    
    <select id="selectShAdjustAmountById" parameterType="Long" resultMap="ShAdjustAmountResult">
        <include refid="selectShAdjustAmountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShAdjustAmount" parameterType="ShAdjustAmount" useGeneratedKeys="true" keyProperty="id">
        insert into sh_adjust_amount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">order_id,</if>
            <if test="serverId != null ">server_id,</if>
            <if test="type != null ">type,</if>
            <if test="amount != null ">amount,</if>
            <if test="approve != null ">approve,</if>
            <if test="applyer != null  and applyer != ''">applyer,</if>
            <if test="approver != null  and approver != ''">approver,</if>
            <if test="applyTime != null ">apply_time,</if>
            <if test="approveTime != null ">approve_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="serverId != null ">#{serverId},</if>
            <if test="type != null ">#{type},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="approve != null ">#{approve},</if>
            <if test="applyer != null  and applyer != ''">#{applyer},</if>
            <if test="approver != null  and approver != ''">#{approver},</if>
            <if test="applyTime != null ">#{applyTime},</if>
            <if test="approveTime != null ">#{approveTime},</if>
         </trim>
    </insert>

    <update id="updateShAdjustAmount" parameterType="ShAdjustAmount">
        update sh_adjust_amount
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="serverId != null ">server_id = #{serverId},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="approve != null ">approve = #{approve},</if>
            <if test="applyer != null  and applyer != ''">applyer = #{applyer},</if>
            <if test="approver != null  and approver != ''">approver = #{approver},</if>
            <if test="applyTime != null ">apply_time = #{applyTime},</if>
            <if test="approveTime != null ">approve_time = #{approveTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShAdjustAmountById" parameterType="Long">
        delete from sh_adjust_amount where id = #{id}
    </delete>

    <delete id="deleteShAdjustAmountByIds" parameterType="String">
        delete from sh_adjust_amount where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>