<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sh.mapper.ShMerchantStatisticsMapper">
    
    <resultMap type="ShMerchantStatistics" id="ShMerchantStatisticsResult">
        <result property="serverId"    column="server_id"    />
        <result property="serverType"    column="server_type"    />
        <result property="amount"    column="amount"    />
        <result property="freezeAmount"    column="freeze_amount"    />
        <result property="wechatCount"    column="wechat_count"    />
        <result property="wechatSuccessCount"    column="wechat_success_count"    />
        <result property="wechatSuccessAmount"    column="wechat_success_amount"    />
        <result property="alipayCout"    column="alipay_cout"    />
        <result property="alipaySuccessCount"    column="alipay_success_count"    />
        <result property="alipaySuccessAmount"    column="alipay_success_amount"    />
    </resultMap>

    <sql id="selectShMerchantStatisticsVo">
        select server_id, server_type, amount, freeze_amount, wechat_count, wechat_success_count, wechat_success_amount, alipay_cout, alipay_success_count, alipay_success_amount from sh_merchant_statistics
    </sql>

    <select id="selectShMerchantStatisticsList" parameterType="ShMerchantStatistics" resultMap="ShMerchantStatisticsResult">
        <include refid="selectShMerchantStatisticsVo"/>
        <where>  
            <if test="serverType != null "> and server_type = #{serverType}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="freezeAmount != null "> and freeze_amount = #{freezeAmount}</if>
            <if test="wechatCount != null "> and wechat_count = #{wechatCount}</if>
            <if test="wechatSuccessCount != null "> and wechat_success_count = #{wechatSuccessCount}</if>
            <if test="wechatSuccessAmount != null "> and wechat_success_amount = #{wechatSuccessAmount}</if>
            <if test="alipayCout != null "> and alipay_cout = #{alipayCout}</if>
            <if test="alipaySuccessCount != null "> and alipay_success_count = #{alipaySuccessCount}</if>
            <if test="alipaySuccessAmount != null "> and alipay_success_amount = #{alipaySuccessAmount}</if>
        </where>
    </select>
    
    <select id="selectShMerchantStatisticsById" parameterType="Long" resultMap="ShMerchantStatisticsResult">
        <include refid="selectShMerchantStatisticsVo"/>
        where server_id = #{serverId}
    </select>
        
    <insert id="insertShMerchantStatistics" parameterType="ShMerchantStatistics">
        insert into sh_merchant_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serverId != null ">server_id,</if>
            <if test="serverType != null ">server_type,</if>
            <if test="amount != null ">amount,</if>
            <if test="freezeAmount != null ">freeze_amount,</if>
            <if test="wechatCount != null ">wechat_count,</if>
            <if test="wechatSuccessCount != null ">wechat_success_count,</if>
            <if test="wechatSuccessAmount != null ">wechat_success_amount,</if>
            <if test="alipayCout != null ">alipay_cout,</if>
            <if test="alipaySuccessCount != null ">alipay_success_count,</if>
            <if test="alipaySuccessAmount != null ">alipay_success_amount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serverId != null ">#{serverId},</if>
            <if test="serverType != null ">#{serverType},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="freezeAmount != null ">#{freezeAmount},</if>
            <if test="wechatCount != null ">#{wechatCount},</if>
            <if test="wechatSuccessCount != null ">#{wechatSuccessCount},</if>
            <if test="wechatSuccessAmount != null ">#{wechatSuccessAmount},</if>
            <if test="alipayCout != null ">#{alipayCout},</if>
            <if test="alipaySuccessCount != null ">#{alipaySuccessCount},</if>
            <if test="alipaySuccessAmount != null ">#{alipaySuccessAmount},</if>
         </trim>
    </insert>

    <update id="updateShMerchantStatistics" parameterType="ShMerchantStatistics">
        update sh_merchant_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverType != null ">server_type = #{serverType},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="freezeAmount != null ">freeze_amount = #{freezeAmount},</if>
            <if test="wechatCount != null ">wechat_count = #{wechatCount},</if>
            <if test="wechatSuccessCount != null ">wechat_success_count = #{wechatSuccessCount},</if>
            <if test="wechatSuccessAmount != null ">wechat_success_amount = #{wechatSuccessAmount},</if>
            <if test="alipayCout != null ">alipay_cout = #{alipayCout},</if>
            <if test="alipaySuccessCount != null ">alipay_success_count = #{alipaySuccessCount},</if>
            <if test="alipaySuccessAmount != null ">alipay_success_amount = #{alipaySuccessAmount},</if>
        </trim>
        where server_id = #{serverId}
    </update>

    <delete id="deleteShMerchantStatisticsById" parameterType="Long">
        delete from sh_merchant_statistics where server_id = #{serverId}
    </delete>

    <delete id="deleteShMerchantStatisticsByIds" parameterType="String">
        delete from sh_merchant_statistics where server_id in 
        <foreach item="serverId" collection="array" open="(" separator="," close=")">
            #{serverId}
        </foreach>
    </delete>
    
</mapper>