<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MsAlipayMapper">
    
    <resultMap type="MsAlipay" id="MsAlipayResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="merchantAccount"    column="merchant_account"    />
        <result property="alipayName"    column="alipay_name"    />
        <result property="state"    column="state"    />
        <result property="lastTradeTime"    column="last_trade_time"    />
    </resultMap>

    <sql id="selectMsAlipayVo">
        select id, merchant_id, merchant_account, alipay_name, state, last_trade_time from ms_alipay
    </sql>

    <select id="selectMsAlipayList" parameterType="MsAlipay" resultMap="MsAlipayResult">
        <include refid="selectMsAlipayVo"/>
        <where>  
            <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
            <if test="merchantAccount != null  and merchantAccount != ''"> and merchant_account = #{merchantAccount}</if>
            <if test="alipayName != null  and alipayName != ''"> and alipay_name like concat('%', #{alipayName}, '%')</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="lastTradeTime != null "> and last_trade_time = #{lastTradeTime}</if>
        </where>
    </select>
    
    <select id="selectMsAlipayById" parameterType="Long" resultMap="MsAlipayResult">
        <include refid="selectMsAlipayVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMsAlipay" parameterType="MsAlipay" useGeneratedKeys="true" keyProperty="id">
        insert into ms_alipay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null ">merchant_id,</if>
            <if test="merchantAccount != null  and merchantAccount != ''">merchant_account,</if>
            <if test="alipayName != null  and alipayName != ''">alipay_name,</if>
            <if test="state != null ">state,</if>
            <if test="lastTradeTime != null ">last_trade_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null ">#{merchantId},</if>
            <if test="merchantAccount != null  and merchantAccount != ''">#{merchantAccount},</if>
            <if test="alipayName != null  and alipayName != ''">#{alipayName},</if>
            <if test="state != null ">#{state},</if>
            <if test="lastTradeTime != null ">#{lastTradeTime},</if>
         </trim>
    </insert>

    <update id="updateMsAlipay" parameterType="MsAlipay">
        update ms_alipay
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null ">merchant_id = #{merchantId},</if>
            <if test="merchantAccount != null  and merchantAccount != ''">merchant_account = #{merchantAccount},</if>
            <if test="alipayName != null  and alipayName != ''">alipay_name = #{alipayName},</if>
            <if test="state != null ">state = #{state},</if>
            <if test="lastTradeTime != null ">last_trade_time = #{lastTradeTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMsAlipayById" parameterType="Long">
        delete from ms_alipay where id = #{id}
    </delete>

    <delete id="deleteMsAlipayByIds" parameterType="String">
        delete from ms_alipay where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>