<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MsStatisticsMapper">
    
    <resultMap type="MsStatistics" id="MsStatisticsResult">
        <result property="date"    column="date"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="payType"    column="pay_type"    />
        <result property="orderCount"    column="order_count"    />
        <result property="successCount"    column="success_count"    />
        <result property="amount"    column="amount"    />
        <result property="successAmount"    column="success_amount"    />
        <result property="successRate"    column="success_rate"    />
    </resultMap>

    <sql id="selectMsStatisticsVo">
        select date, merchant_id, pay_type, order_count, success_count, amount, success_amount, success_rate from ms_statistics
    </sql>

    <select id="selectMsStatisticsList" parameterType="MsStatistics" resultMap="MsStatisticsResult">
        <include refid="selectMsStatisticsVo"/>
        <where>  
            <if test="merchantId != null  and merchantId != ''"> and merchant_id = #{merchantId}</if>
            <if test="payType != null "> and pay_type = #{payType}</if>
            <if test="orderCount != null "> and order_count = #{orderCount}</if>
            <if test="successCount != null  and successCount != ''"> and success_count = #{successCount}</if>
            <if test="amount != null  and amount != ''"> and amount = #{amount}</if>
            <if test="successAmount != null  and successAmount != ''"> and success_amount = #{successAmount}</if>
            <if test="successRate != null  and successRate != ''"> and success_rate = #{successRate}</if>
        </where>
    </select>
    
    <select id="selectMsStatisticsById" parameterType="Date" resultMap="MsStatisticsResult">
        <include refid="selectMsStatisticsVo"/>
        where date = #{date}
    </select>
        
    <insert id="insertMsStatistics" parameterType="MsStatistics">
        insert into ms_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="date != null ">date,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="payType != null ">pay_type,</if>
            <if test="orderCount != null ">order_count,</if>
            <if test="successCount != null  and successCount != ''">success_count,</if>
            <if test="amount != null  and amount != ''">amount,</if>
            <if test="successAmount != null  and successAmount != ''">success_amount,</if>
            <if test="successRate != null  and successRate != ''">success_rate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="date != null ">#{date},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="payType != null ">#{payType},</if>
            <if test="orderCount != null ">#{orderCount},</if>
            <if test="successCount != null  and successCount != ''">#{successCount},</if>
            <if test="amount != null  and amount != ''">#{amount},</if>
            <if test="successAmount != null  and successAmount != ''">#{successAmount},</if>
            <if test="successRate != null  and successRate != ''">#{successRate},</if>
         </trim>
    </insert>

    <update id="updateMsStatistics" parameterType="MsStatistics">
        update ms_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="payType != null ">pay_type = #{payType},</if>
            <if test="orderCount != null ">order_count = #{orderCount},</if>
            <if test="successCount != null  and successCount != ''">success_count = #{successCount},</if>
            <if test="amount != null  and amount != ''">amount = #{amount},</if>
            <if test="successAmount != null  and successAmount != ''">success_amount = #{successAmount},</if>
            <if test="successRate != null  and successRate != ''">success_rate = #{successRate},</if>
        </trim>
        where date = #{date}
    </update>

    <delete id="deleteMsStatisticsById" parameterType="Date">
        delete from ms_statistics where date = #{date}
    </delete>

    <delete id="deleteMsStatisticsByIds" parameterType="String">
        delete from ms_statistics where date in 
        <foreach item="date" collection="array" open="(" separator="," close=")">
            #{date}
        </foreach>
    </delete>
    
</mapper>