<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MsWechatCashcodeMapper">
    
    <resultMap type="MsWechatCashcode" id="MsWechatCashcodeResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="wechat"    column="wechat"    />
        <result property="state"    column="state"    />
        <result property="amount"    column="amount"    />
        <result property="code"    column="code"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectMsWechatCashcodeVo">
        select id, merchant_id, wechat, state, amount, code, create_time from ms_wechat_cashcode
    </sql>

    <select id="selectMsWechatCashcodeList" parameterType="MsWechatCashcode" resultMap="MsWechatCashcodeResult">
        <include refid="selectMsWechatCashcodeVo"/>
        <where>  
            <if test="merchantId != null  and merchantId != ''"> and merchant_id = #{merchantId}</if>
            <if test="wechat != null  and wechat != ''"> and wechat = #{wechat}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
        </where>
    </select>
    
    <select id="selectMsWechatCashcodeById" parameterType="Long" resultMap="MsWechatCashcodeResult">
        <include refid="selectMsWechatCashcodeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMsWechatCashcode" parameterType="MsWechatCashcode" useGeneratedKeys="true" keyProperty="id">
        insert into ms_wechat_cashcode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="wechat != null  and wechat != ''">wechat,</if>
            <if test="state != null ">state,</if>
            <if test="amount != null ">amount,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="wechat != null  and wechat != ''">#{wechat},</if>
            <if test="state != null ">#{state},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateMsWechatCashcode" parameterType="MsWechatCashcode">
        update ms_wechat_cashcode
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="wechat != null  and wechat != ''">wechat = #{wechat},</if>
            <if test="state != null ">state = #{state},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMsWechatCashcodeById" parameterType="Long">
        delete from ms_wechat_cashcode where id = #{id}
    </delete>

    <delete id="deleteMsWechatCashcodeByIds" parameterType="String">
        delete from ms_wechat_cashcode where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>